<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8"/>
    <link type="text/css" href="{{ SITEURL }}/theme/css/styles.css" rel="stylesheet" media="all"/>
    {% if FEED_ATOM %}
    <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM %}
    {% for category in categories %}
    <link href="/feeds/{{ category[0] }}.atom.xml" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{category[0]}} Atom Feed" />
    {% endfor %}
    {% endif %}
    {% endblock head %}
  </head>
  <body>
    <div class="page-wrap">
      <div class="content-wrap">
        {% block sidebar %}
        <div class="sidebar">
          <h1 class="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
          <nav>
            <ul class="navbar-list">
              <li class="navbar-list-item"><a href="{{ SITEURL }}/writing.html">Writing</a></li>
              <li class="navbar-list-item"><a href="{{ SITEURL }}/journal.html">Journal</a></li>
              <li class="navbar-list-item"><a class="icon-github" href="{{ GITHUB_ADDRESS }}">Github</a></li>
              <li class="navbar-list-item"><a class="icon-twitter" href="{{ TWITTER_ADDRESS }}">Twitter</a></li>
              <li class="navbar-list-item"{% if p == page %} class="active" {% endif %}><a href="{{ SITEURL }}/about.html">About</a></li>
            </ul>
          </nav>
        </div>
        {% endblock sidebar %}
        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>
      </div>
      {% block footer %}
      {% endblock footer %}
    </div>
  </body>
</html>
